.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    width: 90%;
    max-width: 360px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f1f5f9;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.input {
    width: 100%;
    padding: 12px;
    background: #f1f5f9;
    border-radius: 10px;
}

.btn-primary {
    background: #4f46e5;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
}

.nav-btn.active {
    color: #0f766e;
}